<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>Score : <span class="badge badge-assertive">{{chat.score}}</span><br />
      <b>Dernier défi : </b>{{chat.lastText}}
    </p>
    <p>
      <h2>Nouveau défi</h2>
      <label class="item item-input">
        <textarea placeholder="Proposer un défi" rows=8></textarea>
      </label>
      <button class="button button-block button-positive" ng-click="sendMail">
        Envoyer
      </button>
      <button class="button button-block button-balanced" ng-click="chat.score=chat.score + 1">
        Valider le défi
      </button>

    </p>
    <script type="text/javascript">
    </script>
  </ion-content>
</ion-view>
