<div class="bar bar-header bar-stable">
  <h1 class="title">Inscription</h1>
</div>
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Prénom">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Nom">
  </label><label class="item item-input">
    <input type="text" placeholder="Adresse mail">
  </label><label class="item item-input">
    <input type="text" placeholder="Pseudo">
  </label><label class="item item-input">
    <input type="text" placeholder="Âge">
  </label>
  <label class="item item-input">
    <textarea placeholder="Décris toi en quelques mots"></textarea>
  </label>
</div>
<button class="button button-dark">
  Valider
</button>