<ion-view view-title="Inscription">	
	<ion-content>
		<div class="list">
		  <label class="item item-input">
		    <span class="input-label">WildIdentifiant</span>
		    <input type="text">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Adresse mail</span>
		    <input type="text">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Âge</span>
		    <input type="text">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Mot de passe</span>
		    <input type="password">
		  </label>
		  <label class="item item-input">
			<textarea placeholder="Décris toi en quelques mots Datebayo"></textarea>
		  </label>
		</div>
		<a class="button button-positive" href="#/tab/dash">
		  Valider
		</a>
	</ion-content>
</ion-view>