<ion-view view-title="WildDefit">
  <ion-content class="padding">

      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="WildIdentifiant" ng-model="login">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="mot de passe">
        </label>
        <button class="button button-block button-positive">
          Se connecter <B><u>Datebayo</u></B>
        </button>
      </div>
  </ion-content>
</ion-view>
