<ion-view view-title="WildDefit">
  <ion-content class="padding">
-{{login}}-<br>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="WildIdentifiant" ng-model="login">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="mot de passe">
        </label>
        <button class="button button-block button-positive">
          Se connecter
        </button>
      </div>
    <div ng-if="login == ''"> pas login   </div>
  </ion-content>
</ion-view>
