<ion-view view-title="WildDéfi">
  <ion-content class="padding">

      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="WildIdentifiant" >
        </label>
        <label class="item item-input">
          <input type="password" placeholder="mot de passe">
        </label>
        <a class="button button-block button-positive" href="#/tab/map">
          Se connecter <B>Datebayo</B>
        </a>
        <img src="img/wcs.jpg" style="margin: 0 20px;" />
      </div>
  </ion-content>
</ion-view>
